.popup__name {
  max-width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px;
  opacity: 0.2;
}

@media screen and (max-width: 767px) {
  .popup__name {
    font-size: 14px;
    line-height: 17px;
  }
}
